.highlight_yellow {
	background-color: yellow;
}

.highlight_green {
	background-color: lawngreen;
}

.highlight_pink {
	background-color: hotpink;
}

.highlight_blue {
	background-color: aqua;
}